:root {
    --my-dark-grey: #212529;
    --my-hard-white: #FFFFFF;
    --my-soft-white: #BBBBBB;
    --my-light-grey: #343A40;
    --my-lighter-grey: #495057;
    --my-pink: #CDAAC3;
    --my-dark-pink: #56515F;
    --my-darker-pink: #4F4652;
    --my-some-pink: #f7bce8;
}