body {
    margin: 0;
    padding: 0;
    background-color: #b9b3b3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}
header {
    margin: 20px 20%;
        justify-content: center;
        align-items: center;
}
header table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
header table tr td {
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#qrcode {
    width: 8em;
    height: 8em;
    border-radius: 10px;
}

@media screen and (max-height: 1000px) {
    #content {
        background-color:#b9b3b3;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .miep {
        position: relative;
        width: 448px;
        height: 256px;
        background-color: aliceblue;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
    }

    .washing_machine, .tumble_dryer {
        position: relative;
        width: 224px;
        height: 256px;
        overflow: hidden;
    }
    .picture {
        position: absolute;
        width: 224px;
        height: 256px;
        overflow: hidden;
    }
    .picture * {
        position: absolute;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        width: 224px;
        height: 256px;
    }
    .picture1{
        z-index: 10;
    }
    .picture2 {
        z-index: 11;
        transform-origin: 111px 147px;
    }
    .picture3 {
        z-index: 12;
        width: 448px;
        opacity: 70%;

    }
    .washing {
        animation: loop1 var(--random-duration) infinite reverse linear;
    }

    .rotate {
        transform-origin: 111px 147px;
        -webkit-animation:spin var(--random-duration) linear infinite;
        -moz-animation:spin var(--random-duration) linear infinite;
        animation:spin var(--random-duration) linear infinite;
    }

    .picture4 {
        z-index: 13;
    }
    .picture5 {
        z-index: 14;
    }

    @keyframes loop1 {
       from {
           transform: translate(0px, 0px);
       }
       to {
             transform: translate(-224px, 0px);
       }
    }

    @-moz-keyframes spin {
        100% { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
@media screen and (min-height: 1001px) and (min-width: 896px) {
    #content {
        background-color:#b9b3b3;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .miep {
        position: relative;
        width: 896px;
        height: 512px;
        background-color: aliceblue;
        border-radius: 40px;
        margin: 20px;
        padding: 20px;
    }

    .washing_machine, .tumble_dryer {
        position: relative;
        width: 448px;
        height: 512px;
        overflow: hidden;
    }
    .picture {
        position: absolute;
        width: 448px;
        height: 512px;
        overflow: hidden;
    }
    .picture * {
        position: absolute;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        width: 448px;
        height: 512px;
    }
    .picture1{
        z-index: 10;
    }
    .picture2 {
        z-index: 11;
        transform-origin: 222px 294px;
    }
    .picture3 {
        z-index: 12;
        width: 896px;
        opacity: 70%;

    }
    .washing {
        animation: loop1 18s infinite reverse linear;
    }

    .rotate {
        transform-origin: 222px 294px;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }

    .picture4 {
        z-index: 13;
    }
    .picture5 {
        z-index: 14;
    }

    @keyframes loop1 {
       from {
           transform: translate(0px, 0px);
       }
       to {
             transform: translate(-448px, 0px);
       }
    }

    @-moz-keyframes spin {
        100% { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    form * {
        font-size: 48px;
    }
}
#footer {
    transition: 0.2s;
    background-color: var(--my-dark-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3vh;
}

#footer #updownarrow {
    transition: 0.2s;
    transform: translate(-50%, 0) scaleY(-1);
    height: 2vh;
    width: 2vh;
    position: absolute;
    left: 50%;
    top: 0.5vh;
}

#footer #copyright {
    transition: 0.2s;
    font-family: B612MonoRegular, sans-serif;
    color: var(--my-lighter-grey);
    height: 1.5vh;
    position: absolute;
    left: 1vw;
    bottom: 0;
    transform: translate(0, 50%)
}

#footer #itemtext {
    transition: 0.1s;
    display: none;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
}

#footer #itemicon {
    transition: 0.1s;
    display: none;
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
}

#footer #itemicon img {
    padding: 0;
    height: 0;
    width: 0;
}

#footer #itemtext a {
    font-family: B612MonoRegular, sans-serif;
    color: var(--my-soft-white);
    text-decoration: none;
    padding: 20px;
}

#footer:hover #updownarrow {
    transform: translate(-50%, 0) scaleY(1);
}

#footer:hover {
    height: 20vh;
}

#footer:hover #copyright {
    transform: translate(-50%, 0);
    left: 50%;
    color: var(--my-soft-white);
    height: 3vh;
    text-align: center;
}

#footer:hover #itemtext {
    display: block;
}

#footer:hover #itemicon {
    display: block;
}
#footer:hover #itemicon img {
    padding: 20px;
    height: 2vh;
    width: 2vh;
}

#footer {
    z-index: 20;
}