<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/color-scheme.css">
    <script src="/static/assets/js/script.js"></script>
    <title>WMTD</title>
    <meta http-equiv="Cache-Control" content="no-store" />
</head>
<body>
    <header id="header">
        <div id="headercontent">
            <table id="headercontenttable">
                <tr>
                    <td>
                        <h1 id="title">washing in the dorm building 41/42<br>-<br>this website uses technical cookies</h1>
                    </td>
                    <td>
                        <div id="sharecode">
                            <a href="/static/assets/img/qrcode.png">
                                <img id="qrcode" src="/static/assets/img/qr-small.png">
                                <h2>share code</h2>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div id="content">
        {% for washing_machine_or_tumble_dryer in wmotdd %}
        <div class="miep">
            <table>
                <tr>
                    <td>
                        <div class="{{ washing_machine_or_tumble_dryer["device_id"]}}">
                            <div class="picture">
                                <img class="picture1" src="/static/assets/img/machine6.png" alt="">
                                <img style="--random-duration: {{ random_duration() }}" class="picture2 {{ washing_machine_or_tumble_dryer["rotate_animation"] }}" src="{{ washing_machine_or_tumble_dryer["cloths_picture"] }}" alt="">
                                <img style="--random-duration: {{ random_duration() }}" class="picture3 {{ washing_machine_or_tumble_dryer["x_animation"] }}" src="{{ washing_machine_or_tumble_dryer["device_picture"] }}" alt="">
                                <img class="picture4" src="/static/assets/img/machine0.png" alt="">
                                <img class="picture5" src="{{ washing_machine_or_tumble_dryer["open_picture"] }}" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h1>{{ washing_machine_or_tumble_dryer["device"] }} {{ washing_machine_or_tumble_dryer["unique_id"] }}</h1>
                        <h2>{{ washing_machine_or_tumble_dryer["status"] }}</h2>
                        {% if  washing_machine_or_tumble_dryer["status"] == "running" %}
                            <h3>{{ washing_machine_or_tumble_dryer["time_left"] }}</h3>
                            <form id="{{ str(washing_machine_or_tumble_dryer["unique_id"])+washing_machine_or_tumble_dryer["device_id"] }}" action="/api" method="get">
                                <input type="hidden" name="action" value="end">
                                <input type="hidden" name="device_id" value="{{ washing_machine_or_tumble_dryer["unique_id"] }}">
                                <input type="submit" value="Stop">
                            </form>
                        {% else %}
                            <form id="{{ str(washing_machine_or_tumble_dryer["unique_id"])+washing_machine_or_tumble_dryer["device_id"] }}" action="/api" method="get">
                                <input type="hidden" name="action" value="start">
                                <input type="hidden" name="device_id" value="{{ washing_machine_or_tumble_dryer["unique_id"] }}">
                                <input type="time" name="duration" value="{{ washing_machine_or_tumble_dryer["max_duration"] }}">
                                <input type="submit" value="Start">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    <footer id="footer">
        <img id="updownarrow" src="static/assets/icons/down-arrow.png"/>
        <table id="itemtext">
            <tr>
                <td>
                    <a href="https://beta.frieda-univers.me/article?article=privacy">privacy</a>
                </td>
                <td>
                    <a href="https://beta.frieda-univers.me/article?article=webserver">Hosting</a>
                </td>
                <td>
                    <a href="https://beta.frieda-univers.me/article?article=wmtd">Project Page</a>
                </td>
            </tr>
        </table>
        <table id="itemicon">
            <tr>
                <td>
                    <a href="https://discord.gg/jR8P3wsASS">
                        <img src="static/assets/icons/discord.png">
                    </a>
                </td>
                <td>
                    <a href="https://github.com/Frieder21">
                        <img src="static/assets/icons/github.png">
                    </a>
                </td>
                <td>
                    <a href="https://www.reddit.com/user/leonie_UwU/">
                        <img src="static/assets/icons/reddit.png">
                    </a>
                </td>
            </tr>
        </table>
        <p id="copyright">Copyright&copy; 2023 frieda-univers</p>
    </footer>
</body>

</html>